<%= JSON.stringify(menusItems[1].id); %>

<% include ./../../helper/showError %>
<% include ./../../helper/selectBoxMenu %>
<%
    const collection = 'categories'
    let linkPrefix =  systemConfig.prefixAdmin + "/" + collection + "/"
 %>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form 
            </div>
            <div class="panel-body">
                <%- showErrorHelper(showError) %>
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <li>Name: không được rỗng</li>
                                <li>Status: chọn một trạng thái</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="<%= linkPrefix %>save/" method="POST">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" name="name" id="change-slug" value="<%= item.name %>" >
                            </div>
                            <div class="form-group">
                                <label>Slug</label>
                                <input class="form-control" name="slug" value="<%=item.slug %>" >
                            </div>
                            <div class="form-group">
                                <label>Ordering</label>
                                <input class="form-control" type="number" name="ordering" value="<%= item.ordering %>" >
                            </div>
                            <div class="form-group">
                                <label>Menu</label>
                                <%- menuSelectHelper('menus_id',menusItems,menusItems[1].id) %>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="status" class="form-control" >
                                    <option value="novalue">Choose Status</option>
                                    <option value="active" <%= ((item.status) === 'active') ? selected = "selected" : ''  %> >Active</option>
                                    <option value="inactive" <%= ((item.status) === 'inactive') ? selected = "selected" : '' %>  >Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Descrition</label>
                                <textarea class="form-control" name="editorData" id="editor"><%= item.editorData %></textarea>
                            </div>
                            <!-- <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
                                </div> -->
                            <input class="form-control" name="menus_name" value="<%= item.menus_name %>" type="hidden" >
                            <input class="form-control" name="id" value="<%= item.id %>" type="hidden" >
                            <button type="submit" id="submit" class="btn btn-primary">Submit </button>
                            <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let editor;
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( newEditor => {
                editor = newEditor;
                console.log(editor);
            } )
        .catch( error => {
            console.error( error );
        } );
    document.querySelector('#submit').addEventListener( 'click', () => {
    const editorData = editor.getData();
        console.log(editorData);
} );
</script>