
<%= JSON.stringify(categoriesList); %>
<% include ./../../helper/showError %>
<% include ./../../helper/selectBox %>
<% include ./../../helper/image %>
<%
    const collection = 'acticles'
    let linkPrefix =  systemConfig.prefixAdmin + "/" + collection + "/"
    let folderUpload = `/uploads/${collection}/`
 %>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form 
            </div>
            <div class="panel-body">
                <%- showErrorHelper(showError) %>
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <li>Name: không được rỗng</li>
                                <li>Status: chọn một trạng thái</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="<%= linkPrefix %>save/" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Name </label>
                                <input class="form-control" name="name" id="change-slug" value="<%= item.name %>" >
                            </div>
                            <div class="form-group">
                                <label>Slug</label>
                                <input class="form-control" name="slug" value="<%=item.slug %>" >
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <%- groupSelectHelper('categoriesId',categoriesList, item.categoriesId) %>
                            </div>
                            <div class="form-group">
                                <label>Thumb</label>
                                <input id="ImageArticle" class="form-control" type="file" name="thumb" value=""  >
                            </div>
                            <% if(item.id != undefined && item.id != ''){%>
                                <%- imageHelper(folderUpload,item.thumb, item.userName,"img-responsive img-avatar-form" ) %>
                                <%}%>
                           
                            <div class="form-group">
                                <label>Ordering</label>
                                <input class="form-control" type="number" name="ordering" value="<%= item.ordering %>" >
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="status" class="form-control" >
                                    <option value="novalue">Choose Status</option>
                                    <option value="active" <%= ((item.status) === 'active') ? selected = "selected" : ''  %> >Active</option>
                                    <option value="inactive" <%= ((item.status) === 'inactive') ? selected = "selected" : '' %>  >Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Position</label>
                                <select name="position" class="form-control" >
                                    <option value="novalue">Choose Position</option>
                                    <option value="active" <%= ((item.position) === 'active') ? selected = "selected" : ''  %> >Top-post</option>
                                    <option value="inactive" <%= ((item.position) === 'inactive') ? selected = "selected" : '' %>  >Nomal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Descrition</label>
                                <textarea class="form-control" name="editorData" id="editor"><%= item.editorData %></textarea>
                            </div>
                            <!-- <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
                                </div> -->
                            <input class="form-control" name="id" value="<%= item.id %>" type="hidden" >
                            <input class="form-control" name="image_old" value="<%= item.thumb %>" type="hidden" >
                            <input class="form-control" name="image_uploaded" value="" type="hidden" id="image_uploaded">
                            <input class="form-control" name="group_name" value="<%= item.group_name %>" type="hidden" >
                            <button type="submit" id="submit" class="btn btn-primary">Submit </button>
                            <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let editor;
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( newEditor => {
                editor = newEditor;
                console.log(editor);
            } )
        .catch( error => {
            console.error( error );
        } );
    document.querySelector('#submit').addEventListener( 'click', () => {
    const editorData = editor.getData();
        console.log(editorData);
} );
ImageArticle.onchange = evt => {
           const [file] = ImageArticle.files
           if (file) {
               image_uploaded.setAttribute('value','uploaded')
           } else{
               image_uploaded.setAttribute('value','')
           }
       }
</script>