<% include ./../helper/categories.ejs %>

<%
let data = articlesSpecial.slice(1,3)
let folderUpload = '/upload/users/'

%>
<section class="top-post-area pt-10">
    <div class="container no-padding">
        <div class="row small-gutters">
            <div class="col-lg-8 top-post-left">
                <div class="feature-image-thumb relative">
                    <div class="overlay overlay-bg"></div>
                    <img class="img-fluid" src="<%= folderUpload + articlesSpecial[0].thumbnail  %>" alt="<%= articlesSpecial[0].name  %>">
                </div>
                <div class="top-post-details">
                    <ul class="tags">
                        <li>
                            <a href="#"> <%- showCategoryName(categories,articlesSpecial[0].categoryId).name %></a>
                        </li>
                    </ul>
                    <a href="image-post.html">
                        <h3><%= articlesSpecial[0].name  %></h3>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#">
                                <span class="lnr lnr-user"></span>Mark wiens</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span><%= moment(articlesSpecial[0].createdAt).format(systemConfig.format_long_time)   %></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-bubble"></span>06 Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 top-post-right">
                <% for(let i=0; i< data.length; i++){ %>
                    <div class="single-top-post">
                        <div class="feature-image-thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="<%= folderUpload + data[i].thumbnail  %>" alt="<%= data[i].name  %>">
                        </div>
                        <div class="top-post-details">
                            <ul class="tags">
                                <li>
                                    <a href="#"> <%- showCategoryName(categories,data[i].categoryId).name %></a>
                                </li>
                            </ul>
                            <a href="image-post.html">
                                <h4><%= data[i].name  %></h4>
                            </a>
                            <ul class="meta">
                                <li>
                                    <a href="#">
                                        <span class="lnr lnr-user"></span>Mark wiens</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="lnr lnr-calendar-full"></span><%= moment(data[i].createdAt).format(systemConfig.format_long_time)   %></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="lnr lnr-bubble"></span>06 Comments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>